<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="main"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>vendor.dll.js"></script>
</body>

</html>
